<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.workspace">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Workspace"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".user.LikeActivity"
            android:exported="false" />
        <activity
            android:name=".select.offerlistActivity"
            android:exported="true"></activity>
        <activity
            android:name=".select.Resume_Activity"
            android:exported="false" />
        <activity
            android:name=".component.UserActivity"
            android:exported="false" />
        <activity
            android:name=".component.CommunityActivity"
            android:exported="false"></activity>
        <activity
            android:name=".select.AnnouncementActivity"
            android:exported="false" />
        <activity
            android:name=".user.bookmarkActivity"
            android:exported="false" />
        <activity
            android:name=".component.commentActivity"
            android:exported="false" />
        <activity
            android:name=".component.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".rogin.Signup_Activity"
            android:exported="false" />
        <activity
            android:name=".rogin.loginActivity"
            android:exported="false" />
        <activity
            android:name=".user.mypageActivity"
            android:exported="false"></activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"></activity>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="3c84576e8be28fef9bfb8f42d4c2ed05" />
    </application>

</manifest>
